[color]
	ui = true
#[diff]
#j    external = git_diff_wrapper.sh
#[pager]
#    diff =
[commit]
    gpgsign = true
[alias]
    bdate = branch -v --format='%(committerdate:short) %(refname:short)'
    hisfancy = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
[color "status"]
	untracked = magenta
    header = brightwhite # Seems to be what gruvbox uses
[include]
    path = /Users/ifpt192/.gitlocal
